@model Student
@{
	Layout = "_MyLayout";
}

<div class="container mt-5">
    <div class="card shadow-lg">
        <div class="card-header bg-primary text-white">
            <h4 class="mb-0">Student Details</h4>
        </div>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-3">Full Name</dt>
                <dd class="col-sm-9">@Model.FullName</dd>

                <dt class="col-sm-3">Email</dt>
                <dd class="col-sm-9">@Model.Email</dd>

                <dt class="col-sm-3">Phone</dt>
                <dd class="col-sm-9">@Model.Phone</dd>

                <dt class="col-sm-3">Department</dt>
                <dd class="col-sm-9">@Model.department?.Name</dd>

                <dt class="col-sm-3">Date of Birth</dt>
                <dd class="col-sm-9">@Model.DateOfBirth</dd>

                <dt class="col-sm-3">Gender</dt>
                <dd class="col-sm-9">@Model.Gender</dd>
            </dl>

            <a href="/Admin/Student" class="btn btn-secondary mt-3">Back to List</a>
        </div>
    </div>
</div>
